
*.osu
/RMSKIN/Skins/uhe-osu-extension/Usercard/DownloadFile/avatar.jpg
/RMSKIN/Skins/uhe-osu-extension/Usercard/DownloadFile/cover.jpg
/RMSKIN/Skins/uhe-osu-extension/Recent/DownloadFile/cover.jpg
/RMSKIN/Skins/uhe-osu-extension/Best/DownloadFile/cover.jpg
/RMSKIN/Skins/uhe-osu-extension/@Resources/Cache
